.table-container {
  position: relative;
  margin: 2px;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.checkbox-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.users-title {
  display: inline-flex;
}

.users-title > .mat-icon {
  font-size: 28px;
}

.users-title > span {
  margin-left: 5px;
}
