.h2-icon-size {
  font-size: 50px;
  color: #039be5;
}

.profile-image {
  vertical-align: middle;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  //margin-right: 10px;
}

.button-row {
  margin: 20px 0;
}

.mat-icon {
  vertical-align: middle;
  font-size: 24px;
}

